-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: minisitio_local
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anuncio`
--

DROP TABLE IF EXISTS `anuncio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anuncio` (
  `codAnuncio` int NOT NULL AUTO_INCREMENT,
  `codUsuario` int NOT NULL,
  `codTipoAnuncio` varchar(150) COLLATE utf8mb3_unicode_ci NOT NULL,
  `codAtividade` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `codPA` text COLLATE utf8mb3_unicode_ci,
  `codOrigem` int DEFAULT NULL,
  `codDuplicado` int DEFAULT NULL,
  `tags` text COLLATE utf8mb3_unicode_ci,
  `codCaderno` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `codUf` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `codCidade` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `descAnuncio` text COLLATE utf8mb3_unicode_ci,
  `descAnuncioFriendly` text COLLATE utf8mb3_unicode_ci,
  `descImagem` text COLLATE utf8mb3_unicode_ci,
  `descEndereco` text COLLATE utf8mb3_unicode_ci,
  `descTelefone` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `descCelular` text COLLATE utf8mb3_unicode_ci,
  `descDescricao` text COLLATE utf8mb3_unicode_ci,
  `descSite` text COLLATE utf8mb3_unicode_ci,
  `descSkype` text COLLATE utf8mb3_unicode_ci,
  `descPromocao` text COLLATE utf8mb3_unicode_ci,
  `descEmailComercial` text COLLATE utf8mb3_unicode_ci,
  `descEmailRetorno` text COLLATE utf8mb3_unicode_ci,
  `descFacebook` text COLLATE utf8mb3_unicode_ci,
  `descTweeter` text COLLATE utf8mb3_unicode_ci,
  `descWhatsApp` text COLLATE utf8mb3_unicode_ci,
  `descCEP` text COLLATE utf8mb3_unicode_ci,
  `descTipoPessoa` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `descCPFCNPJ` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `descNomeAutorizante` text COLLATE utf8mb3_unicode_ci,
  `descEmailAutorizante` text COLLATE utf8mb3_unicode_ci,
  `descParceiro` text COLLATE utf8mb3_unicode_ci,
  `descParceiroLink` text COLLATE utf8mb3_unicode_ci,
  `codDesconto` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `descLat` text COLLATE utf8mb3_unicode_ci,
  `descLng` text COLLATE utf8mb3_unicode_ci,
  `formaPagamento` text COLLATE utf8mb3_unicode_ci,
  `logoPromocao` text COLLATE utf8mb3_unicode_ci,
  `linkPromo` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `promocaoData` text COLLATE utf8mb3_unicode_ci,
  `descContrato` text COLLATE utf8mb3_unicode_ci,
  `descAndroid` text COLLATE utf8mb3_unicode_ci,
  `descApple` text COLLATE utf8mb3_unicode_ci,
  `descInsta` text COLLATE utf8mb3_unicode_ci,
  `descPatrocinador` text COLLATE utf8mb3_unicode_ci,
  `descPatrocinadorLink` text COLLATE utf8mb3_unicode_ci,
  `qntVisualizacoes` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `activate` int NOT NULL,
  `moderacao` varchar(12) COLLATE utf8mb3_unicode_ci NOT NULL,
  `dtCadastro` datetime DEFAULT NULL,
  `dtCadastro2` datetime DEFAULT NULL,
  `dtAlteracao` datetime DEFAULT NULL,
  `descLinkedin` text COLLATE utf8mb3_unicode_ci,
  `descTelegram` text COLLATE utf8mb3_unicode_ci,
  `certificado_logo` text COLLATE utf8mb3_unicode_ci,
  `certificado_texto` text COLLATE utf8mb3_unicode_ci,
  `certificado_imagem` text COLLATE utf8mb3_unicode_ci,
  `descYouTube` text COLLATE utf8mb3_unicode_ci,
  `link_comprar` text COLLATE utf8mb3_unicode_ci,
  `cashback_logo` text COLLATE utf8mb3_unicode_ci,
  `cashback_link` text COLLATE utf8mb3_unicode_ci,
  `certificado_link` text COLLATE utf8mb3_unicode_ci,
  `cartao_digital` text COLLATE utf8mb3_unicode_ci,
  `descChavePix` text COLLATE utf8mb3_unicode_ci,
  `descDonoPix` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `periodo` text COLLATE utf8mb3_unicode_ci,
  `page` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `dueDate` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`codAnuncio`),
  KEY `idx_tags` (`tags`(255)),
  KEY `idx_codDesconto` (`codDesconto`),
  KEY `idx_activate` (`activate`),
  KEY `idx_createdAt_codDuplicado` (`createdAt` DESC),
  KEY `idx_anuncio_order` (`activate`,`createdAt` DESC),
  KEY `idx_anuncio_busca` (`codUf`,`codCaderno`,`page`,`codAtividade`(20)),
  KEY `idx_anuncio_consulta` (`codUf`,`codCaderno`,`codAtividade`(20)),
  KEY `idx_anuncio_filtro` (`codUf`,`codCaderno`),
  KEY `idx_cnpj` (`descCPFCNPJ`(20)),
  KEY `idx_anuncio_descAnuncio` (`descAnuncio`(100)),
  KEY `idx_codAtividade` (`codAtividade`(100)),
  KEY `idx_codDuplicado` (`codDuplicado`),
  KEY `idx_anuncio_activate_created_codduplicado` (`activate`,`createdAt` DESC,`codDuplicado`),
  KEY `idx_descEmailRetorno` (`descEmailRetorno`(255)),
  KEY `idx_descTelefone` (`descTelefone`(80)),
  KEY `idx_descCelular` (`descCelular`(80))
) ENGINE=InnoDB AUTO_INCREMENT=19920092 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = '' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`miniv2`@`localhost`*/ /*!50003 TRIGGER `after_insert_anuncio` AFTER INSERT ON `anuncio` FOR EACH ROW BEGIN
  UPDATE desconto
  SET total_registros = total_registros + 1
  WHERE hash = NEW.codDesconto;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = '' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`miniv2`@`localhost`*/ /*!50003 TRIGGER `after_delete_anuncio` AFTER DELETE ON `anuncio` FOR EACH ROW BEGIN
  UPDATE desconto
  SET total_registros = total_registros - 1
  WHERE hash = OLD.codDesconto;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `atividade`
--

DROP TABLE IF EXISTS `atividade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `atividade` (
  `id` int NOT NULL,
  `atividade` varchar(256) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `ordemCla` int DEFAULT NULL,
  `nomeAmigavel` varchar(256) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `corTitulo` varchar(8) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_atividade_atividade` (`atividade`),
  KEY `corTitulo` (`corTitulo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `caderno`
--

DROP TABLE IF EXISTS `caderno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caderno` (
  `codCaderno` int NOT NULL AUTO_INCREMENT,
  `codUf` int NOT NULL,
  `UF` text NOT NULL,
  `nomeCaderno` varchar(100) NOT NULL,
  `nomeCadernoFriendly` varchar(255) NOT NULL,
  `descImagem` varchar(255) DEFAULT NULL,
  `cep_inicial` varchar(25) DEFAULT NULL,
  `cep_final` varchar(25) DEFAULT NULL,
  `isCapital` tinyint(1) DEFAULT '0',
  `legenda` text NOT NULL,
  `basico` int NOT NULL,
  `completo` int NOT NULL,
  `total` int NOT NULL,
  PRIMARY KEY (`codCaderno`),
  KEY `codUf` (`codUf`),
  KEY `nomeCaderno` (`nomeCaderno`),
  KEY `nomeCadernoFriendly` (`nomeCadernoFriendly`)
) ENGINE=InnoDB AUTO_INCREMENT=5648 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calhaus`
--

DROP TABLE IF EXISTS `calhaus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calhaus` (
  `id` int NOT NULL AUTO_INCREMENT,
  `frase` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `frase` (`frase`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `campanhas`
--

DROP TABLE IF EXISTS `campanhas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campanhas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_origem` varchar(12) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `id_promocional` varchar(50) COLLATE utf8mb3_unicode_ci NOT NULL,
  `id_retorno` varchar(12) COLLATE utf8mb3_unicode_ci NOT NULL,
  `uf` char(2) COLLATE utf8mb3_unicode_ci NOT NULL,
  `caderno` varchar(100) COLLATE utf8mb3_unicode_ci NOT NULL,
  `data_fim` date NOT NULL,
  `criador` varchar(100) COLLATE utf8mb3_unicode_ci NOT NULL,
  `status` varchar(8) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `total_registros` float NOT NULL,
  `bloco_registers_number` float NOT NULL,
  `separador_csv` varchar(2) COLLATE utf8mb3_unicode_ci NOT NULL,
  `statusLink` varchar(7) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`),
  UNIQUE KEY `unique_id_origem` (`id_origem`)
) ENGINE=InnoDB AUTO_INCREMENT=233 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cidade`
--

DROP TABLE IF EXISTS `cidade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cidade` (
  `id_cidade` int NOT NULL,
  `id_uf` int NOT NULL,
  `nome_cidade` varchar(100) NOT NULL,
  `cep_inicial` varchar(25) NOT NULL,
  `cep_final` varchar(25) NOT NULL,
  PRIMARY KEY (`id_cidade`),
  KEY `id_uf` (`id_uf`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `contato_config`
--

DROP TABLE IF EXISTS `contato_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contato_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `telefone` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `endereco` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `facebook` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `instagram` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ddd`
--

DROP TABLE IF EXISTS `ddd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ddd` (
  `id_ddd` int NOT NULL AUTO_INCREMENT,
  `id_uf` int NOT NULL,
  `ddd` int NOT NULL,
  `sigla_uf` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `nm_regiao` text COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`id_ddd`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `desconto`
--

DROP TABLE IF EXISTS `desconto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `desconto` (
  `idDesconto` int NOT NULL AUTO_INCREMENT,
  `idUsuario` int NOT NULL,
  `userType` char(5) COLLATE utf8mb3_unicode_ci NOT NULL,
  `desconto` double NOT NULL,
  `descricao` varchar(150) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `hash` varchar(150) COLLATE utf8mb3_unicode_ci NOT NULL,
  `borda` varchar(50) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `descImagem` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `descImagem3` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `descImagem2` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `descLink` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT '#',
  `borda2` varchar(50) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `descPromocao` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `descLink2` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT '#',
  `descLink3` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `dtCadastro` datetime NOT NULL,
  `ativo` tinyint DEFAULT '1',
  `patrocinador_ativo` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `utilizar_saldo` tinyint DEFAULT '0',
  `saldo` text COLLATE utf8mb3_unicode_ci,
  `total_registros` int DEFAULT '0',
  `is_capa` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`idDesconto`) USING BTREE,
  UNIQUE KEY `hash` (`hash`),
  KEY `codUsuario` (`idUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=885 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `globals`
--

DROP TABLE IF EXISTS `globals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `globals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `keyValue` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `value` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `importStage`
--

DROP TABLE IF EXISTS `importStage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `importStage` (
  `codAnuncio` int NOT NULL AUTO_INCREMENT,
  `idImport` int NOT NULL,
  `codUsuario` int NOT NULL,
  `codTipoAnuncio` varchar(150) COLLATE utf8mb3_unicode_ci NOT NULL,
  `codAtividade` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `codPA` text COLLATE utf8mb3_unicode_ci,
  `codOrigem` int DEFAULT NULL,
  `codDuplicado` int DEFAULT NULL,
  `tags` text COLLATE utf8mb3_unicode_ci,
  `codCaderno` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `codUf` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `codCidade` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `descAnuncio` text COLLATE utf8mb3_unicode_ci,
  `descAnuncioFriendly` text COLLATE utf8mb3_unicode_ci,
  `descImagem` text COLLATE utf8mb3_unicode_ci,
  `descEndereco` text COLLATE utf8mb3_unicode_ci,
  `descTelefone` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `descCelular` text COLLATE utf8mb3_unicode_ci,
  `descDescricao` text COLLATE utf8mb3_unicode_ci,
  `descSite` text COLLATE utf8mb3_unicode_ci,
  `descSkype` text COLLATE utf8mb3_unicode_ci,
  `descPromocao` text COLLATE utf8mb3_unicode_ci,
  `descEmailComercial` text COLLATE utf8mb3_unicode_ci,
  `descEmailRetorno` text COLLATE utf8mb3_unicode_ci,
  `descFacebook` text COLLATE utf8mb3_unicode_ci,
  `descTweeter` text COLLATE utf8mb3_unicode_ci,
  `descWhatsApp` text COLLATE utf8mb3_unicode_ci,
  `descCEP` text COLLATE utf8mb3_unicode_ci,
  `descTipoPessoa` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `descCPFCNPJ` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `descNomeAutorizante` text COLLATE utf8mb3_unicode_ci,
  `descEmailAutorizante` text COLLATE utf8mb3_unicode_ci,
  `descParceiro` text COLLATE utf8mb3_unicode_ci,
  `descParceiroLink` text COLLATE utf8mb3_unicode_ci,
  `codDesconto` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `descLat` text COLLATE utf8mb3_unicode_ci,
  `descLng` text COLLATE utf8mb3_unicode_ci,
  `formaPagamento` text COLLATE utf8mb3_unicode_ci,
  `logoPromocao` text COLLATE utf8mb3_unicode_ci,
  `linkPromo` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `promocaoData` text COLLATE utf8mb3_unicode_ci,
  `descContrato` text COLLATE utf8mb3_unicode_ci,
  `descAndroid` text COLLATE utf8mb3_unicode_ci,
  `descApple` text COLLATE utf8mb3_unicode_ci,
  `descInsta` text COLLATE utf8mb3_unicode_ci,
  `descPatrocinador` text COLLATE utf8mb3_unicode_ci,
  `descPatrocinadorLink` text COLLATE utf8mb3_unicode_ci,
  `qntVisualizacoes` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `activate` int NOT NULL,
  `dtCadastro` datetime DEFAULT NULL,
  `dtCadastro2` datetime DEFAULT NULL,
  `dtAlteracao` datetime DEFAULT NULL,
  `descLinkedin` text COLLATE utf8mb3_unicode_ci,
  `descTelegram` text COLLATE utf8mb3_unicode_ci,
  `certificado_logo` text COLLATE utf8mb3_unicode_ci,
  `certificado_texto` text COLLATE utf8mb3_unicode_ci,
  `certificado_imagem` text COLLATE utf8mb3_unicode_ci,
  `descYouTube` text COLLATE utf8mb3_unicode_ci,
  `link_comprar` text COLLATE utf8mb3_unicode_ci,
  `cashback_logo` text COLLATE utf8mb3_unicode_ci,
  `cashback_link` text COLLATE utf8mb3_unicode_ci,
  `certificado_link` text COLLATE utf8mb3_unicode_ci,
  `cartao_digital` text COLLATE utf8mb3_unicode_ci,
  `descChavePix` text COLLATE utf8mb3_unicode_ci,
  `descDonoPix` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `periodo` text COLLATE utf8mb3_unicode_ci,
  `page` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `dueDate` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`codAnuncio`),
  KEY `idx_tags` (`tags`(255)),
  KEY `idx_codDesconto` (`codDesconto`),
  KEY `idx_activate` (`activate`),
  KEY `idx_createdAt_codDuplicado` (`createdAt` DESC),
  KEY `idx_anuncio_order` (`activate`,`createdAt` DESC),
  KEY `idx_anuncio_busca` (`codUf`,`codCaderno`,`page`,`codAtividade`(20)),
  KEY `idx_anuncio_consulta` (`codUf`,`codCaderno`,`codAtividade`(20)),
  KEY `idx_anuncio_filtro` (`codUf`,`codCaderno`),
  KEY `idx_cnpj` (`descCPFCNPJ`(20)),
  KEY `idx_HM_anuncio_page_codUf` (`page`,`codUf`),
  KEY `idx_anuncio_descAnuncio` (`descAnuncio`(100)),
  KEY `idx_codAtividade` (`codAtividade`(100)),
  KEY `idx_codDuplicado` (`codDuplicado`),
  KEY `idx_anuncio_activate_created_codduplicado` (`activate`,`createdAt` DESC,`codDuplicado`)
) ENGINE=InnoDB AUTO_INCREMENT=1094 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `institucional_config`
--

DROP TABLE IF EXISTS `institucional_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `institucional_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `inst_empresa` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_objetivo` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_visao` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_missao` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_img1` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_img2` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_img3` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_img4` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_link1` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_link2` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_link3` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `inst_link4` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pagamento`
--

DROP TABLE IF EXISTS `pagamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagamento` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `valor` float NOT NULL,
  `data` datetime NOT NULL,
  `status` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `id_mp` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `ref_mp_codAnuncio` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pins`
--

DROP TABLE IF EXISTS `pins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pins` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(255) NOT NULL,
  `validade` text NOT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `promocao`
--

DROP TABLE IF EXISTS `promocao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promocao` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codAnuncio` int NOT NULL,
  `banner` varchar(255) NOT NULL,
  `link_externo` varchar(255) DEFAULT NULL,
  `data_validade` varchar(10) DEFAULT NULL,
  `uf` varchar(2) DEFAULT NULL,
  `caderno` varchar(100) DEFAULT NULL,
  `createdAt` datetime DEFAULT NULL,
  `updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tags`
--

DROP TABLE IF EXISTS `tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tags` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codAnuncio` varchar(255) NOT NULL,
  `tagValue` varchar(255) NOT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tokens_promocao`
--

DROP TABLE IF EXISTS `tokens_promocao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tokens_promocao` (
  `id` int NOT NULL AUTO_INCREMENT,
  `campanhaId` int NOT NULL,
  `codAnuncio` int NOT NULL,
  `tokenPromocao` varchar(255) NOT NULL,
  `periodoEmDias` int NOT NULL,
  `dataLimitePromocao` datetime NOT NULL,
  `dataAcessoToken` datetime DEFAULT NULL,
  `statusPagamento` text NOT NULL,
  `clicks` int DEFAULT '0',
  `statusPromocao` text NOT NULL,
  `dataUltimoAcesso` datetime DEFAULT NULL,
  `createdAt` datetime DEFAULT NULL,
  `updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tokenPromocao` (`tokenPromocao`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `uf`
--

DROP TABLE IF EXISTS `uf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uf` (
  `id_uf` int NOT NULL AUTO_INCREMENT,
  `sigla_uf` varchar(2) NOT NULL,
  `nome_uf` varchar(150) NOT NULL,
  `id_pais` varchar(150) NOT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_uf`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `codUsuario` int NOT NULL AUTO_INCREMENT,
  `codTipoPessoa` text NOT NULL,
  `descCPFCNPJ` varchar(150) NOT NULL,
  `descNome` varchar(255) NOT NULL,
  `descEmail` text NOT NULL,
  `senha` text NOT NULL,
  `hashCode` text,
  `descValue` text,
  `codTipoUsuario` text NOT NULL,
  `descTelefone` text NOT NULL,
  `descRepresentanteConvenio` text,
  `descEndereco` text,
  `codUf` varchar(50) NOT NULL,
  `codCidade` varchar(50) NOT NULL,
  `dtCadastro` datetime DEFAULT NULL,
  `usuarioCod` text NOT NULL,
  `dtCadastro2` text NOT NULL,
  `dtAlteracao` text NOT NULL,
  `ativo` int NOT NULL,
  `resetToken` text,
  `resetTokenExpires` datetime DEFAULT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`codUsuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping routines for database 'minisitio_local'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-23  4:47:19
