

/* .logo-modal-promo {
    background-color: red;
} */

.title-promo-ms {
    display: flex;
    align-items: center;
}

.title-promo-ms h4 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.modal-body {
    padding: 0 1rem 1rem;
}