.config-portal {
    height: 90vh;
    position: relative;
}

.config-portal hr {
    /* width: 50%; */
    margin-left: 25px;
    margin-right: 25px;
}

.config-portal .area-cards {
    gap: 10px;
}

.config-portal section {
    height: 100%;
}

.config-portal article {
    height: 87%;
}

.config-portal article p {
    bottom: 0;
}

.form-campanha input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-color: black;
}

footer p {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 40px;
}