.institucional p {
    font-size: 14px;
}

.institucional .area-parceiros>div>div>h2 {
    padding-left: 15px;
}

.institucional .area-parceiros>div>.bg-cinza {
    padding: 20px 10px;
    border-radius: 10px;
}

.institucional>.parceiros>div {
    border: 1px solid red;
}

.institucional .parceiros>div>a>img {
    width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #00000033;
}

.admin-contato .contato {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #000;
}

.admin-contato h2 {
    padding-left: 20px;
}

.admin-contato .form-envelope {
    border-radius: 10px;
    box-shadow: 0 10px 20px #0003;
}

.admin-contato .contato-bg {
    background-color: #ffcc29;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 10px 20px #0003;
}

.admin-contato .contato-bg>h2 {
    margin-top: 20px;
    padding-left: 20px;
}

.admin-contato .contato i {
    color: #0c0c0c;
    font-size: 40px;
    float: left;
    padding-right: 20px;
}

.admin-contato .interna h4,
.interna h5 {
    color: #000000;
    font-weight: 500;
}

.admin-contato .contato h4 {
    /* padding-left: 15px; */
    margin-top: -15px;
}

.admin-contato h4 {
    font-size: 17px;
}

.admin-contato .vantagens {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 10px 20px #0003;
}

.admin-contato textarea {
    height: 121px;
}

.admin-contato .continuar>button {
    width: 178px;
}

.admin-contato .contato-font>input {
    background: #FFCC29;
    border: none;
    height: 50px;
    width: 500px;
}

.my-custom-popup {
  font-size: 18px !important;
  width: 500px;
}
